body{
background-color: #D2F1FF;
background-image: url(assets/images/background.jpg);
background-repeat: no-repeat;
background-size:cover;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

nav{
    display: flex;
    flex-wrap: wrap;

    text-decoration: none;
        display: block;
        padding: 15px 25px;
        text-align: center;
        background-color: rgb(204, 142, 17);
        color: #0a0a0a;
        margin: 0;
}

nav :hover{
    background-color: rgb(130, 89, 12);
    color: #ffffff;
}

#About, #Beginner, #Crops{
    background-color: rgb(255,255,255,0.5);
    padding: 10px;
}

.container {
    display: flex;
}

.container >div {
    flex: 1;
    padding: 0 15px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    max-width: 100%; 
    max-height: 100%; 
}

#About{
    background-color: rgb(255,255,255,0.7);
}

ul{
    background-color: rgb(255,255,255,0.5);
}

#Crops{
    background-color: rgb(255,255,255,0.6);
}
#rhubarb{
    background-color: rgb(255,255,255,0.4);
}
#strawb{
    background-color: rgb(255,255,255,0.4);
}

table, th, td{
   border:1px solid black;
   border-collapse: collapse;
   background-color: rgb(255,255,255,0.3);
}

tr:nth-child(even) {
    background-color: rgba(133, 133, 133, 0.4);
  }

th,td{
    padding: 10px;
}

td img {
    vertical-align: middle;
}

td span {
    display: inline-block;
    vertical-align: middle;
}

.CropTable{
    margin-left: auto;
    margin-right: auto;
}

.bachelor{
    background-color: rgb(255,255,255,0.5);
    padding: 30px;
}

#npc_men{
    background-color: rgb(255,255,255,0.7);
}

footer {
    background-color: #d5d5d5;
    color: black; 
    padding: 20px;
    text-align: center;
    position: relative; 
    bottom: 0;
    width: 100%;
}